<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families: ['EB Garamond']
            }
          });
        </script>
    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>

                {{ content }}

            <div class="footer">
              <div clas="contact">
                <p>
                  Subscribe to our RSS feed. Follow us on twitter for up-to-the-minute
                  updates. If you think you've witnessed a historically significant events,
                  we want to know. Send us your camera phone photos and six second videos.
                  They will be featured appropriately in our 2063 edition.
                </p>
              </div>
              <div class="contact">
                <p>
                  &copy; 2013 Half-Century News. All Rights Reserved, and That Will Never Change.
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
